# 서울시 대학 좌표 변경

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../../data/서울시_대학_주소.csv', encoding='euckr')
df

          학교명                                     주소
0     서울시립대학교         서울 동대문구 서울시립대로 163 (전농동 90번지)
1   서울여자간호대학교                  서울 서대문구 홍제3동 서울여자간호대학
2     서울여자대학교              서울특별시 노원구 화랑로 621 서울여자대학교
3       서일대학교        서울 중랑구 서일대학길 22(면목동 49-3) 서일대학교
4      성공회대학교                       서울 구로구 항동 성공회대학교
..        ...                                    ...
59    서울교육대학교              서울 서초구 서초중앙로 96(서초동 1650)
60    서울기독대학교                    서울 은평구 갈현로 4길 26-2호
61      서울대학교                     서울 관악구 관악로 1 서울대학교
62   서울디지털대학교                       서울 마포구 도화동 560번지
63   서울사이버대학교  서울 강북구 솔매로49길 60(미아동 193-15) 서울사이버대학교

[64 rows x 2 columns]

In [25]:
# 카카오API를 사용하여 주소->좌표 변환
import requests, json

def get_location(address):
  url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
  # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
  # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
  headers = {"Authorization": "KakaoAK "}
  api_json = json.loads(str(requests.get(url,headers=headers).text))
  address = api_json['documents'][0]['address']
  crd = {"lat": str(address['y']), "lng": str(address['x'])}
  address_name = address['address_name']

  return crd

crd = get_location("제주 애월읍")
print(crd)

{'lat': '33.4621910539149', 'lng': '126.328972924341'}

In [11]:
addr_list = []
addr_list.append(df['주소'])
print(addr_list)

[0            서울 동대문구 서울시립대로 163 (전농동 90번지)
1                     서울 서대문구 홍제3동 서울여자간호대학
2                 서울특별시 노원구 화랑로 621 서울여자대학교
3           서울 중랑구 서일대학길 22(면목동 49-3) 서일대학교
4                          서울 구로구 항동 성공회대학교
                      ...
59                서울 서초구 서초중앙로 96(서초동 1650)
60                      서울 은평구 갈현로 4길 26-2호
61                       서울 관악구 관악로 1 서울대학교
62                         서울 마포구 도화동 560번지
63    서울 강북구 솔매로49길 60(미아동 193-15) 서울사이버대학교
Name: 주소, Length: 64, dtype: object]

1

In [13]:
crd = []
for i in addr_list :
    for n in range(64) : # crd 리스트 안에 좌표값 넣기
        print(n, '값을 넣었습니다.')
        try :
            crd.append(get_location(i[n]))
        except :
            crd.append({'lat' : '0', 'lng' : '0'})

0 값을 넣었습니다.
1 값을 넣었습니다.
2 값을 넣었습니다.
3 값을 넣었습니다.
4 값을 넣었습니다.
5 값을 넣었습니다.
6 값을 넣었습니다.
7 값을 넣었습니다.
8 값을 넣었습니다.
9 값을 넣었습니다.
10 값을 넣었습니다.
11 값을 넣었습니다.
12 값을 넣었습니다.
13 값을 넣었습니다.
14 값을 넣었습니다.
15 값을 넣었습니다.
16 값을 넣었습니다.
17 값을 넣었습니다.
18 값을 넣었습니다.
19 값을 넣었습니다.
20 값을 넣었습니다.
21 값을 넣었습니다.
22 값을 넣었습니다.
23 값을 넣었습니다.
24 값을 넣었습니다.
25 값을 넣었습니다.
26 값을 넣었습니다.
27 값을 넣었습니다.
28 값을 넣었습니다.
29 값을 넣었습니다.
30 값을 넣었습니다.
31 값을 넣었습니다.
32 값을 넣었습니다.
33 값을 넣었습니다.
34 값을 넣었습니다.
35 값을 넣었습니다.
36 값을 넣었습니다.
37 값을 넣었습니다.
38 값을 넣었습니다.
39 값을 넣었습니다.
40 값을 넣었습니다.
41 값을 넣었습니다.
42 값을 넣었습니다.
43 값을 넣었습니다.
44 값을 넣었습니다.
45 값을 넣었습니다.
46 값을 넣었습니다.
47 값을 넣었습니다.
48 값을 넣었습니다.
49 값을 넣었습니다.
50 값을 넣었습니다.
51 값을 넣었습니다.
52 값을 넣었습니다.
53 값을 넣었습니다.
54 값을 넣었습니다.
55 값을 넣었습니다.
56 값을 넣었습니다.
57 값을 넣었습니다.
58 값을 넣었습니다.
59 값을 넣었습니다.
60 값을 넣었습니다.
61 값을 넣었습니다.
62 값을 넣었습니다.
63 값을 넣었습니다.

In [15]:
# 리스트에 lng, lat 값을 넣고 df에 추가
lng_list = []
lat_list = []
for i in range(64) :
    lng_list.append(crd[i]['lng'])
    lat_list.append(crd[i]['lat'])
    
df['lng'] = lng_list
df['lat'] = lat_list

df

,학교명,주소,lng,lat
0,서울시립대학교,서울 동대문구 서울시립대로 163 (전농동 90번지),127.059988126984,37.5825775765293
1,서울여자간호대학교,서울 서대문구 홍제3동 서울여자간호대학,126.956465854607,37.5970205805612
2,서울여자대학교,서울특별시 노원구 화랑로 621 서울여자대학교,127.088991508939,37.6287826577056
3,서일대학교,서울 중랑구 서일대학길 22(면목동 49-3) 서일대학교,0,0
4,성공회대학교,서울 구로구 항동 성공회대학교,0,0
...,...,...,...,...
59,서울교육대학교,서울 서초구 서초중앙로 96(서초동 1650),127.015424537648,37.4907404857731
60,서울기독대학교,서울 은평구 갈현로 4길 26-2호,126.91306361612,37.6011252013344
61,서울대학교,서울 관악구 관악로 1 서울대학교,126.959294337648,37.468038057989
62,서울디지털대학교,서울 마포구 도화동 560번지,126.947855469473,37.5429684534296
63,서울사이버대학교,서울 강북구 솔매로49길 60(미아동 193-15) 서울사이버대학교,127.027123065417,37.629843917766

In [17]:
df.to_csv("../../data/대학교_좌표추가.csv", mode='w', encoding='euckr')

## 서울시 고등학교 좌표변환

In [64]:
df = pd.read_csv('../../data/서울시 고등학교 기본정보.csv', encoding='euckr')
df

,학교종류명,설립구분,표준학교코드,학교명,영문학교명,관할조직명,도로명우편번호,도로명주소,도로명상세주소,전화번호,...,고등학교일반실업구분명,특수목적고등학교계열명,입시전후기구분명,주야구분명,설립일자,개교기념일,시도교육청코드,시도교육청명,소재지명,적재일시
0,고등학교,사립,7011508,선일빅데이터고등학교,SUNIL BIGDATA HIGHSCHOOL,서울특별시교육청,3322,서울특별시 은평구 갈현로29길 27,/ 선일빅데이터고등학교 (갈현동),02-355-5648,...,전문계,NaN,전기,주간,19850108,19850311,B10,서울특별시교육청,서울특별시,20220731
1,고등학교,사립,7011507,대경생활과학고등학교,Daekyeong Life Science High School,서울특별시교육청,4592,서울특별시 중구 매봉18길 111,(신당동),02-2235-5155,...,전문계,NaN,전기,주간,19560228,19560416,B10,서울특별시교육청,서울특별시,20220731
2,고등학교,사립,7011506,서울매그넷고등학교,Seoul Magnet High School,서울특별시교육청,8656,서울특별시 금천구 탑골로10길 45,(시흥동/ 동일여자상업고등학교),02-807-6333,...,전문계,NaN,전기,주간,19870112,19870303,B10,서울특별시교육청,서울특별시,20220731
3,고등학교,사립,7011505,광운인공지능고등학교,Kwangwoon Artificial Intelligence High School,서울특별시교육청,1890,서울특별시 노원구 광운로1길 24,(월계동/광운중학교/전자공업고등학교),02-918-7761,...,전문계,NaN,전기,주간,19340520,19340520,B10,서울특별시교육청,서울특별시,20220731
4,고등학교,공립,7011499,덕수고등학교(일반고),Duksoo High School,서울특별시교육청,5846,서울특별시 송파구 위례북로 10,(거여동/ 덕수고등학교),02-6952-2801,...,일반계,NaN,전기,주간,19100413,19100413,B10,서울특별시교육청,서울특별시,20220731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,고등학교,공립,7010059,경기고등학교,Kyunggi High School,서울특별시교육청,6086,서울특별시 강남구 영동대로 643,/ 경기고등학교 (삼성동),02-3496-7300,...,일반계,NaN,후기,주간,19001003,19001003,B10,서울특별시교육청,서울특별시,20220731
317,고등학교,공립,7010058,개포고등학교,Gaepo High School,서울특별시교육청,6324,서울특별시 강남구 개포로 402,(개포동/ 개포고등학교),02-576-3333,...,일반계,NaN,후기,주간,19870512,19870512,B10,서울특별시교육청,서울특별시,20220731
318,고등학교,공립,7010057,가락고등학교,Garak High School,서울특별시교육청,5678,서울특별시 송파구 송이로 42,(송파동/가락고등학교),02-416-4658,...,일반계,NaN,후기,주간,19881223,19890428,B10,서울특별시교육청,서울특별시,20220731
319,고등학교,국립,1371663,국립전통예술고등학교,NATIONAL HIGH SCHOOL OF TRADITIONAL KOREAN ARTS,교육부,8650,서울특별시 금천구 시흥대로38길 62,(시흥동),02-896-1094,...,일반계,예술계열,전기,주간,19600513,19600513,B10,서울특별시교육청,서울특별시,20220731
320,고등학교,국립,1371661,국립국악고등학교,Gugak National High School,교육부,6311,서울특별시 강남구 개포로22길 65,(개포동/ 국악고등학교),02-3460-0500,...,일반계,예술계열,전기,주간,19550401,19720909,B10,서울특별시교육청,서울특별시,20220731

In [19]:
addr_list = []
addr_list.append(df['도로명주소'])
print(addr_list)

[0       서울특별시 은평구 갈현로29길 27
1        서울특별시 중구 매봉18길 111
2       서울특별시 금천구 탑골로10길 45
3        서울특별시 노원구 광운로1길 24
4         서울특별시 송파구 위례북로 10
               ...
316      서울특별시 강남구 영동대로 643
317       서울특별시 강남구 개포로 402
318        서울특별시 송파구 송이로 42
319    서울특별시 금천구 시흥대로38길 62
320     서울특별시 강남구 개포로22길 65
Name: 도로명주소, Length: 321, dtype: object]

In [55]:
crd = []
for i in addr_list :
    try :
        crd.append(get_location(i))
    except :
        crd.append({'lat' : '0', 'lng' : '0'})

<class 'pandas.core.series.Series'>

In [40]:
crd[0]

{'lat': '0', 'lng': '0'}

In [22]:
# 리스트에 lng, lat 값을 넣고 df에 추가
lng_list = []
lat_list = []
for i in range(321) :
    lng_list.append(crd[i]['lng'])
    lat_list.append(crd[i]['lat'])
    
df['lng'] = lng_list
df['lat'] = lat_list

df

,학교종류명,설립구분,표준학교코드,학교명,영문학교명,관할조직명,도로명우편번호,도로명주소,도로명상세주소,전화번호,...,입시전후기구분명,주야구분명,설립일자,개교기념일,시도교육청코드,시도교육청명,소재지명,적재일시,lng,lat
0,고등학교,사립,7011508,선일빅데이터고등학교,SUNIL BIGDATA HIGHSCHOOL,서울특별시교육청,3322,서울특별시 은평구 갈현로29길 27,/ 선일빅데이터고등학교 (갈현동),02-355-5648,...,전기,주간,19850108,19850311,B10,서울특별시교육청,서울특별시,20220731,126.911993073275,37.6203042094228
1,고등학교,사립,7011507,대경생활과학고등학교,Daekyeong Life Science High School,서울특별시교육청,4592,서울특별시 중구 매봉18길 111,(신당동),02-2235-5155,...,전기,주간,19560228,19560416,B10,서울특별시교육청,서울특별시,20220731,127.016979156363,37.5563732600255
2,고등학교,사립,7011506,서울매그넷고등학교,Seoul Magnet High School,서울특별시교육청,8656,서울특별시 금천구 탑골로10길 45,(시흥동/ 동일여자상업고등학교),02-807-6333,...,전기,주간,19870112,19870303,B10,서울특별시교육청,서울특별시,20220731,126.915819922214,37.4519362557404
3,고등학교,사립,7011505,광운인공지능고등학교,Kwangwoon Artificial Intelligence High School,서울특별시교육청,1890,서울특별시 노원구 광운로1길 24,(월계동/광운중학교/전자공업고등학교),02-918-7761,...,전기,주간,19340520,19340520,B10,서울특별시교육청,서울특별시,20220731,127.056545166873,37.6192397716155
4,고등학교,공립,7011499,덕수고등학교(일반고),Duksoo High School,서울특별시교육청,5846,서울특별시 송파구 위례북로 10,(거여동/ 덕수고등학교),02-6952-2801,...,전기,주간,19100413,19100413,B10,서울특별시교육청,서울특별시,20220731,127.147083560756,37.4856006916683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,고등학교,공립,7010059,경기고등학교,Kyunggi High School,서울특별시교육청,6086,서울특별시 강남구 영동대로 643,/ 경기고등학교 (삼성동),02-3496-7300,...,후기,주간,19001003,19001003,B10,서울특별시교육청,서울특별시,20220731,127.056075505663,37.517564539911
317,고등학교,공립,7010058,개포고등학교,Gaepo High School,서울특별시교육청,6324,서울특별시 강남구 개포로 402,(개포동/ 개포고등학교),02-576-3333,...,후기,주간,19870512,19870512,B10,서울특별시교육청,서울특별시,20220731,127.059406502269,37.4849602867225
318,고등학교,공립,7010057,가락고등학교,Garak High School,서울특별시교육청,5678,서울특별시 송파구 송이로 42,(송파동/가락고등학교),02-416-4658,...,후기,주간,19881223,19890428,B10,서울특별시교육청,서울특별시,20220731,127.116425831354,37.5010757915029
319,고등학교,국립,1371663,국립전통예술고등학교,NATIONAL HIGH SCHOOL OF TRADITIONAL KOREAN ARTS,교육부,8650,서울특별시 금천구 시흥대로38길 62,(시흥동),02-896-1094,...,전기,주간,19600513,19600513,B10,서울특별시교육청,서울특별시,20220731,126.906463378333,37.4463706879704
320,고등학교,국립,1371661,국립국악고등학교,Gugak National High School,교육부,6311,서울특별시 강남구 개포로22길 65,(개포동/ 국악고등학교),02-3460-0500,...,전기,주간,19550401,19720909,B10,서울특별시교육청,서울특별시,20220731,127.051213825746,37.4762397420077

In [23]:
df.to_csv("../../data/고등학교_좌표추가.csv", mode='w', encoding='euckr')

## apply 함수 활용

In [76]:
# 카카오API를 사용하여 주소->좌표 변환
import requests, json

def get_location(address):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
    # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
    # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
    headers = {"Authorization": "KakaoAK "}   
    api_json = json.loads(str(requests.get(url,headers=headers).text))
    address = api_json['documents'][0]['address']
    
    try :
        crd = {"lat": str(address['y']), "lng": str(address['x'])}
        address_name = address['address_name']
    except :
        crd = {"lat" : '0', "lng" : '0'}
    
    return crd
  

crd = get_location("제주 애월읍")
print(crd)

{'lat': '37.5974066200134', 'lng': '127.092177640813'}

In [72]:
df['도로명주소'].apply(get_location)

0      {'lat': '37.6203042094228', 'lng': '126.911993...
1      {'lat': '37.5563732600255', 'lng': '127.016979...
2      {'lat': '37.4519362557404', 'lng': '126.915819...
3      {'lat': '37.6192397716155', 'lng': '127.056545...
4      {'lat': '37.4856006916683', 'lng': '127.147083...
                             ...
316    {'lat': '37.517564539911', 'lng': '127.0560755...
317    {'lat': '37.4849602867225', 'lng': '127.059406...
318    {'lat': '37.5010757915029', 'lng': '127.116425...
319    {'lat': '37.4463706879704', 'lng': '126.906463...
320    {'lat': '37.4762397420077', 'lng': '127.051213...
Name: 도로명주소, Length: 321, dtype: object

In [70]:
df.head()

,학교종류명,설립구분,표준학교코드,학교명,영문학교명,관할조직명,도로명우편번호,도로명주소,도로명상세주소,전화번호,...,고등학교일반실업구분명,특수목적고등학교계열명,입시전후기구분명,주야구분명,설립일자,개교기념일,시도교육청코드,시도교육청명,소재지명,적재일시
0,고등학교,사립,7011508,선일빅데이터고등학교,SUNIL BIGDATA HIGHSCHOOL,서울특별시교육청,3322,서울특별시 은평구 갈현로29길 27,/ 선일빅데이터고등학교 (갈현동),02-355-5648,...,전문계,NaN,전기,주간,19850108,19850311,B10,서울특별시교육청,서울특별시,20220731
1,고등학교,사립,7011507,대경생활과학고등학교,Daekyeong Life Science High School,서울특별시교육청,4592,서울특별시 중구 매봉18길 111,(신당동),02-2235-5155,...,전문계,NaN,전기,주간,19560228,19560416,B10,서울특별시교육청,서울특별시,20220731
2,고등학교,사립,7011506,서울매그넷고등학교,Seoul Magnet High School,서울특별시교육청,8656,서울특별시 금천구 탑골로10길 45,(시흥동/ 동일여자상업고등학교),02-807-6333,...,전문계,NaN,전기,주간,19870112,19870303,B10,서울특별시교육청,서울특별시,20220731
3,고등학교,사립,7011505,광운인공지능고등학교,Kwangwoon Artificial Intelligence High School,서울특별시교육청,1890,서울특별시 노원구 광운로1길 24,(월계동/광운중학교/전자공업고등학교),02-918-7761,...,전문계,NaN,전기,주간,19340520,19340520,B10,서울특별시교육청,서울특별시,20220731
4,고등학교,공립,7011499,덕수고등학교(일반고),Duksoo High School,서울특별시교육청,5846,서울특별시 송파구 위례북로 10,(거여동/ 덕수고등학교),02-6952-2801,...,일반계,NaN,전기,주간,19100413,19100413,B10,서울특별시교육청,서울특별시,20220731

## 서울시 영화관 좌표 변환

In [78]:
df = pd.read_excel('../../data/서울시_영화관1.xlsx')
df

       연도  지역구    시설군          건물명                                  주소
0    2019  마포구  영화상영관   씨제이씨지브이 홍대                   서울시 마포구 양화로 153
1    2019  노원구  영화상영관    더 숲 아트시네마   서울특별시 노원구 상계동 727-1번지 지하1층 ~ 2층
2    2019  노원구  영화상영관    롯데시네마 수락산     서울특별시 노원구 상계동 1132-35번지 3층~9층
3    2019  노원구  영화상영관      CGV 하계관                 서울특별시 노원구 섬밭로 258
4    2019  노원구  영화상영관      CGV 중계관              서울특별시 노원구 동일로 204가길12
..    ...  ...    ...          ...                                 ...
389  2013  은평구  영화상영관       메가박스은평              서울시 은평구 불광동 304-2 6층7층
390  2013  강동구  영화상영관        CGV강동                   서울시 강동구 성내동 549-1
391  2013  동작구  영화상영관         아트나인         서울시 동작구 사당동 147-53 골드시네마12층
392  2013  마포구  영화상영관    롯데시네마 합정관            서울시 마포구 서교동 490 메세나폴리스2층
393  2013  관악구  영화상영관  롯데씨네마 서울대입구                 서울시 관악구 남부순환로 1820

[394 rows x 5 columns]

In [79]:
# 카카오API를 사용하여 주소->좌표 변환
import requests, json

def get_location(address):
  url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
  # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
  # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
  headers = {"Authorization": "KakaoAK "}
  api_json = json.loads(str(requests.get(url,headers=headers).text))
  address = api_json['documents'][0]['address']
  crd = {"lat": str(address['y']), "lng": str(address['x'])}
  address_name = address['address_name']

  return crd

In [83]:
addr_list = []
addr_list.append(df['주소'])
print(addr_list)

[0                       서울시 마포구 양화로 153
1       서울특별시 노원구 상계동 727-1번지 지하1층 ~ 2층
2         서울특별시 노원구 상계동 1132-35번지 3층~9층
3                     서울특별시 노원구 섬밭로 258
4                  서울특별시 노원구 동일로 204가길12
                      ...
389                서울시 은평구 불광동 304-2 6층7층
390                     서울시 강동구 성내동 549-1
391           서울시 동작구 사당동 147-53 골드시네마12층
392              서울시 마포구 서교동 490 메세나폴리스2층
393                   서울시 관악구 남부순환로 1820
Name: 주소, Length: 394, dtype: object]

In [87]:
crd = []
for i in addr_list :
    for n in range(394) : # crd 리스트 안에 좌표값 넣기
        try :
            crd.append(get_location(i[n]))
        except :
            crd.append({'lat' : '0', 'lng' : '0'})
    print('값을 다 넣었습니다.')

값을 다 넣었습니다.

In [88]:
# 리스트에 lng, lat 값을 넣고 df에 추가
lng_list = []
lat_list = []
for i in range(394) :
    lng_list.append(crd[i]['lng'])
    lat_list.append(crd[i]['lat'])
    
df['lng'] = lng_list
df['lat'] = lat_list

df

,연도,지역구,시설군,건물명,주소,lng,lat
0,2019,마포구,영화상영관,씨제이씨지브이 홍대,서울시 마포구 양화로 153,126.922631917858,37.5564943733388
1,2019,노원구,영화상영관,더 숲 아트시네마,서울특별시 노원구 상계동 727-1번지 지하1층 ~ 2층,127.061439766113,37.6541608577762
2,2019,노원구,영화상영관,롯데시네마 수락산,서울특별시 노원구 상계동 1132-35번지 3층~9층,127.055650948865,37.6765584171977
3,2019,노원구,영화상영관,CGV 하계관,서울특별시 노원구 섬밭로 258,127.064915087375,37.6391097783726
4,2019,노원구,영화상영관,CGV 중계관,서울특별시 노원구 동일로 204가길12,127.068668049616,37.6398580838556
...,...,...,...,...,...,...,...
389,2013,은평구,영화상영관,메가박스은평,서울시 은평구 불광동 304-2 6층7층,126.922740128199,37.6178235676098
390,2013,강동구,영화상영관,CGV강동,서울시 강동구 성내동 549-1,127.125148590897,37.5285316156907
391,2013,동작구,영화상영관,아트나인,서울시 동작구 사당동 147-53 골드시네마12층,126.981520500294,37.484760958426
392,2013,마포구,영화상영관,롯데시네마 합정관,서울시 마포구 서교동 490 메세나폴리스2층,126.913768796333,37.5507467154903
393,2013,관악구,영화상영관,롯데씨네마 서울대입구,서울시 관악구 남부순환로 1820,126.952083773717,37.4809479979455

In [89]:
df.to_csv("../../data/영화관_좌표추가.csv", mode='w', encoding='euckr')