In [1]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/user/Desktop/프로젝트 data/최적입지_변수_총합(용산적용전).csv', encoding='euckr')

In [3]:
df

,id,전킥평균점수,버정평균점수,지하철평균점수,택정평균점수,공원평균점수,대학평균점수,고등학교평균점수,문화평균점수,따릉이평균점수,인구수점수
0,28208,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,28207,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5
2,28055,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5
3,28054,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5
4,28053,0.75,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5
...,...,...,...,...,...,...,...,...,...,...,...
15672,233,0.00,2.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5
15673,232,0.00,2.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5
15674,82,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5
15675,81,0.00,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5
15676,80,0.00,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df = pd.get_dummies(df, columns=['전킥평균점수', '버정평균점수', '지하철평균점수', '택정평균점수', '공원평균점수', '대학평균점수',
                           '고등학교평균점수', '문화평균점수', '따릉이평균점수', '인구수점수'])

In [6]:
df

,id,전킥평균점수_0.0,전킥평균점수_0.25,전킥평균점수_0.75,전킥평균점수_1.5,전킥평균점수_2.5,버정평균점수_0.0,버정평균점수_0.25,버정평균점수_0.75,버정평균점수_1.5,...,문화평균점수_2.5,따릉이평균점수_0.0,따릉이평균점수_0.25,따릉이평균점수_0.75,따릉이평균점수_1.5,따릉이평균점수_2.5,인구수점수_0.0,인구수점수_0.75,인구수점수_1.5,인구수점수_2.5
0,28208,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,28207,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,28055,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,28054,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,28053,0,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15672,233,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
15673,232,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
15674,82,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
15675,81,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
15676,80,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0