In [1]:
import pandas as pd
import os

## 파일 한번에 불러오기

In [2]:
os.listdir('C:/Users/user/Desktop/생활인구 분석/data') # 폴더안에 데이터 확인

['LOCAL_PEOPLE_DONG_202111.csv',
 'LOCAL_PEOPLE_DONG_202112.csv',
 'LOCAL_PEOPLE_DONG_202201.csv',
 'LOCAL_PEOPLE_DONG_202202.csv',
 'LOCAL_PEOPLE_DONG_202203.csv',
 'LOCAL_PEOPLE_DONG_202204.csv',
 'LOCAL_PEOPLE_DONG_202205.csv',
 'LOCAL_PEOPLE_DONG_202206.csv',
 'LOCAL_PEOPLE_DONG_202207.csv',
 'LOCAL_PEOPLE_DONG_202208.csv',
 'LOCAL_PEOPLE_DONG_202209.csv',
 'LOCAL_PEOPLE_DONG_202210.csv']

### 1. 파일리스트 저장

In [3]:
forders= os.listdir('C:/Users/user/Desktop/생활인구 분석/data')

### 2. 현재 작업위치(working directory) 이동

In [4]:
cd C:/Users/user/Desktop/생활인구 분석/data

C:\Users\user\Desktop\생활인구 분석\data

### 3. 데이터 프레임 생성하고 모든 파일 합치기

In [5]:
# 새로운 데이터 프레임 생성
df_all = pd.DataFrame()

for files in forders:
    df= pd.read_csv(files)
    df_all= pd.concat([df_all, df])

In [6]:
df_all.shape

(3714240, 32)

### 인덱스 생성이 안되고 하나씩 밀려 마지막 컬럼 데이터가 na값을 떠서 전처리 진행

In [7]:
# 
df_all = df_all.reset_index()
columns=['index', '기준일ID', '시간대구분', '행정동코드','총생활인구수','남자0세부터9세생활인구수','남자10세부터14세생활인구수',
         '남자15세부터19세생활인구수','남자20세부터24세생활인구수','남자25세부터29세생활인구수','남자30세부터34세생활인구수',
         '남자35세부터39세생활인구수','남자40세부터44세생활인구수','남자45세부터49세생활인구수','남자50세부터54세생활인구수',
         '남자55세부터59세생활인구수','남자60세부터64세생활인구수','남자65세부터69세생활인구수','남자70세이상생활인구수',
         '여자0세부터9세생활인구수', '여자10세부터14세생활인구수','여자15세부터19세생활인구수','여자20세부터24세생활인구수',
         '여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터39세생활인구수','여자40세부터44세생활인구수',
         '여자45세부터49세생활인구수','여자50세부터54세생활인구수','여자55세부터59세생활인구수','여자60세부터64세생활인구수',
         '여자65세부터69세생활인구수','여자70세이상생활인구수'
        ]
df_all.columns = ['기준일ID', '시간대구분', '행정동코드','총생활인구수','남자0세부터9세생활인구수','남자10세부터14세생활인구수',
         '남자15세부터19세생활인구수','남자20세부터24세생활인구수','남자25세부터29세생활인구수','남자30세부터34세생활인구수',
         '남자35세부터39세생활인구수','남자40세부터44세생활인구수','남자45세부터49세생활인구수','남자50세부터54세생활인구수',
         '남자55세부터59세생활인구수','남자60세부터64세생활인구수','남자65세부터69세생활인구수','남자70세이상생활인구수',
         '여자0세부터9세생활인구수', '여자10세부터14세생활인구수','여자15세부터19세생활인구수','여자20세부터24세생활인구수',
         '여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터39세생활인구수','여자40세부터44세생활인구수',
         '여자45세부터49세생활인구수','여자50세부터54세생활인구수','여자55세부터59세생활인구수','여자60세부터64세생활인구수',
         '여자65세부터69세생활인구수','여자70세이상생활인구수','삭제할거']
df_all = df_all.drop(['삭제할거'], axis=1)
df_all.head()

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20211101,0,11470680,22796.1407,923.0070,711.7903,909.9247,539.8603,518.2143,454.1050,...,584.7537,582.2004,855.8530,984.2143,1187.6181,910.6085,989.2366,739.4816,655.7578,1825.7043
1,20211101,0,11440730,37070.1563,1025.1173,641.0870,952.5836,882.8019,1394.7769,1320.5975,...,2014.1641,1819.3859,1955.7305,1665.3989,1778.8869,1464.1282,1314.2796,996.9937,864.2240,2469.8634
2,20211101,0,11200590,17952.5176,622.3245,343.4822,428.0153,353.0400,420.6893,548.9845,...,538.7121,761.5728,1201.3565,976.9668,847.8513,651.6338,635.9192,685.6647,526.9343,995.3734
3,20211101,0,11680656,30585.8034,1644.0636,1071.3652,1110.4852,523.9506,491.3009,474.0898,...,637.2576,677.0421,1294.0869,1615.3140,2059.4089,1209.8651,986.0412,801.8508,725.5164,1646.3559
4,20211101,0,11680730,16468.2665,512.3320,359.8518,496.5155,386.0319,550.8848,617.2569,...,659.9285,559.7440,698.3132,599.5171,698.4464,597.0887,656.8235,753.0073,660.7689,1139.4285

### 동대문구의 행정동만 추출

In [8]:
code = [
    11230710, #회기동
    11230720, # 휘경1동
    11230730, # 휘경2동
    11230705, # 청량리동
    11230536, # 용신동
    11230545, # 제기동
    11230560, # 전농1동
    11230570, # 전농2동
    11230610, # 답십리2동
    11230650, # 장안1동
    11230660, # 장안2동
    11230740, # 이문1동
    11230750, # 이문2동
    11230600  # 답십리1동

    
]
df_all = df_all[df_all['행정동코드'].isin(code)]

In [9]:
df_all

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
79,20211101,0,11230750,19086.5361,635.9586,384.1609,548.1936,543.3057,509.7348,443.3652,...,593.0101,579.4084,788.3362,787.8424,746.0449,742.1110,657.9561,567.5866,501.6963,1667.5605
98,20211101,0,11230720,16269.1330,252.4466,140.0671,364.0680,1065.2972,1021.9827,572.5482,...,1114.8362,593.8281,547.5225,464.6307,465.0657,515.3773,484.6705,444.6549,367.5878,1037.0977
107,20211101,0,11230610,26288.4922,801.0830,403.2389,448.7943,582.0689,794.7819,964.3348,...,880.4735,1051.6051,1313.1859,1068.2548,1089.5850,1012.2316,1181.4896,1082.6850,764.5580,2181.5984
136,20211101,0,11230650,34691.2770,1092.6375,472.0759,681.3930,806.8622,1301.8428,1389.1542,...,1561.2006,1575.0476,1993.7501,1509.3967,1312.2056,1180.4029,1289.7592,1272.8638,856.0121,1978.6864
150,20211101,0,11230560,31724.4173,1131.7831,554.3907,645.4174,1327.9090,1512.2362,971.4244,...,1396.5334,1126.5370,1230.3702,1110.6067,1056.7399,1094.2535,1208.2412,966.6552,894.9186,2235.5663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3713980,20221031,23,11230650,36920.3392,1251.2032,540.5840,621.6625,818.3961,1431.5617,1536.6856,...,1745.6904,1603.0860,2097.8997,1637.8281,1344.8377,1213.3083,1368.6816,1187.5061,923.3381,2146.7067
3714111,20221031,23,11230710,21374.3810,449.8795,219.9095,649.8545,2351.9613,1346.5239,680.4020,...,1478.9507,599.6763,568.8885,505.1282,502.7106,488.6654,547.9539,445.4541,456.8861,1256.7353
3714112,20221031,23,11230740,26194.6789,372.9491,237.9516,848.0473,2996.8210,1934.4291,812.3751,...,1733.8175,649.3319,591.7819,558.7424,631.9122,617.2188,522.7377,477.9042,414.3529,1214.4703
3714140,20221031,23,11230720,17631.6780,284.4984,157.8507,454.9429,1337.5698,1039.0107,596.4245,...,1256.7270,650.9454,533.4027,460.7492,507.9295,479.9806,464.6972,400.3246,334.2528,929.6682
3714196,20221031,23,11230600,25536.4988,1297.9896,529.5215,457.8441,541.5692,752.8470,797.3826,...,934.4086,1069.0247,1475.4704,1199.9095,1103.1361,872.5167,952.8263,874.2331,576.1120,1507.5140