In [1]:
import warnings
warnings.filterwarnings(action='ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

from sklearn.model_selection import KFold

In [2]:
df = pd.read_csv('C:/Users/user/Desktop/프로젝트 data/최적입지_변수_총합(용산적용전)2.csv', encoding='euckr')

In [3]:
df

          id   bus  metro  taxi  park  uni  high   cf  bike  pop  class  kick
0      28208  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  0.0      0  0.00
1      28207  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  1.5      0  0.00
2      28055  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  1.5      0  0.00
3      28054  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  1.5      0  0.00
4      28053  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  1.5      0  0.75
...      ...   ...    ...   ...   ...  ...   ...  ...   ...  ...    ...   ...
15672    233  2.50    0.0   0.0   0.0  0.0   0.0  0.0   0.0  2.5      0  0.00
15673    232  2.50    0.0   0.0   0.0  0.0   0.0  0.0   0.0  2.5      0  0.00
15674     82  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  2.5      0  0.00
15675     81  0.25    0.0   0.0   0.0  0.0   0.0  0.0   0.0  2.5      0  0.00
15676     80  0.25    0.0   0.0   0.0  0.0   0.0  0.0   0.0  0.0      0  0.00

[15677 rows x 12 columns]

# 원핫인코딩

In [4]:
df = pd.get_dummies(df, columns=['bus', 'metro', 'taxi', 'park', 'uni', 'high',
                           'cf', 'bike', 'pop'])

In [6]:
df.head(5)

,id,class,kick,bus_0.0,bus_0.25,bus_0.75,bus_1.5,bus_2.5,metro_0.0,metro_0.25,...,cf_2.5,bike_0.0,bike_0.25,bike_0.75,bike_1.5,bike_2.5,pop_0.0,pop_0.75,pop_1.5,pop_2.5
0,28208,0,0.00,1,0,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,0
1,28207,0,0.00,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
2,28055,0,0.00,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
3,28054,0,0.00,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
4,28053,0,0.75,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0

## 로지스틱 회귀분석

In [10]:
features = df.loc[:, 'bus_0.0':'pop_2.5']
X = features.values
y = df['class'].values

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y.reshape(-1,), test_size=0.4, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=42)

#모델 적합
log_reg = LogisticRegression(random_state=42)
log_reg.fit(X_train, y_train)
y_pred_val = log_reg.predict(X_val)

#모델 성능 평가
y_pred_proba = log_reg.predict_proba(X_val)  #predict_proba : 예측확률
y_pred = np.argmax(y_pred_proba, axis=1)
accuracy_score(y_val, y_pred)

0.9400318979266348

## 다중선형회귀분석

In [13]:
from sklearn.linear_model import LinearRegression

In [15]:
dlr_model = LinearRegression()

dlr_model.fit(X = X, y = y)
# linear_regression.fit(x = pd.DataFrame(x), y=y)

print('절편 :', dlr_model.intercept_)
print('회귀분석 :', dlr_model.coef_)

절편 : 904634910238.0278
회귀분석 : [ 2.16261213e+10  2.16261213e+10  2.16261213e+10  2.16261213e+10
  2.16261213e+10  1.62712519e+12  1.62712519e+12  1.62712519e+12
  1.62712519e+12  1.62712519e+12  1.26526560e+12  1.26526560e+12
  1.26526560e+12  1.26526560e+12  1.26526560e+12  3.95264080e+12
  3.95264080e+12  3.95264080e+12  3.95264080e+12  3.95264080e+12
  4.46479806e+11  4.46479806e+11  4.46479806e+11  4.46479806e+11
  4.46479806e+11 -4.59825591e+12 -4.59825591e+12 -4.59825591e+12
 -4.59825591e+12 -4.59825591e+12  7.70127354e+11  7.70127354e+11
  7.70127354e+11  7.70127354e+11  7.70127354e+11 -9.42956819e+11
 -9.42956819e+11 -9.42956819e+11 -9.42956819e+11 -9.42956819e+11
 -3.44668704e+12 -3.44668704e+12 -3.44668704e+12 -3.44668704e+12]

In [18]:
# 잔차
prediction = dlr_model.predict(X)
residuals = y - prediction

# residuals.describe()

In [20]:
# R_suared 계산

SSE = (residuals**2).sum()
SST = ((y - y.mean())**2).sum()
R_squared = 1 - (SSE / SST)
print('R_squared :', R_squared)

R_squared : 0.08215575994251656

In [23]:
# 모델 평가 MSE & RMSE

from sklearn.metrics import mean_squared_error
from math import sqrt

mse = mean_squared_error(y, prediction)
print(mse)
rmse = sqrt(mse)
print(rmse)

print('score =', dlr_model.score(X=X, y=y))
print('mean_squared_error =', mse)
print('RMSE =', rmse)

0.05460822335302111
0.23368402459950297
score = 0.08215575994251656
mean_squared_error = 0.05460822335302111
RMSE = 0.23368402459950297

In [37]:
unique, counts = np.unique(y, return_counts=True)
dict(zip(unique, counts))

{0: 14681, 1: 996}