In [1]:
import warnings
warnings.filterwarnings(action='ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

from sklearn.model_selection import KFold

In [2]:
df = pd.read_csv('C:/Users/user/Desktop/프로젝트 data/최적입지_변수_총합(용산적용전)2.csv', encoding='euckr')

In [3]:
df

          id   bus  metro  taxi  park  uni  high   cf  bike  pop  class  kick
0      28208  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  0.0      0  0.00
1      28207  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  1.5      0  0.00
2      28055  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  1.5      0  0.00
3      28054  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  1.5      0  0.00
4      28053  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  1.5      0  0.75
...      ...   ...    ...   ...   ...  ...   ...  ...   ...  ...    ...   ...
15672    233  2.50    0.0   0.0   0.0  0.0   0.0  0.0   0.0  2.5      0  0.00
15673    232  2.50    0.0   0.0   0.0  0.0   0.0  0.0   0.0  2.5      0  0.00
15674     82  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  2.5      0  0.00
15675     81  0.25    0.0   0.0   0.0  0.0   0.0  0.0   0.0  2.5      0  0.00
15676     80  0.25    0.0   0.0   0.0  0.0   0.0  0.0   0.0  0.0      0  0.00

[15677 rows x 12 columns]

# 원핫인코딩

In [4]:
df = pd.get_dummies(df, columns=['bus', 'metro', 'taxi', 'park', 'uni', 'high',
                           'cf', 'bike', 'pop'])

In [5]:
df.head(5)

,id,class,kick,bus_0.0,bus_0.25,bus_0.75,bus_1.5,bus_2.5,metro_0.0,metro_0.25,...,cf_2.5,bike_0.0,bike_0.25,bike_0.75,bike_1.5,bike_2.5,pop_0.0,pop_0.75,pop_1.5,pop_2.5
0,28208,0,0.00,1,0,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,0
1,28207,0,0.00,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
2,28055,0,0.00,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
3,28054,0,0.00,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
4,28053,0,0.75,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0

## 로지스틱 회귀분석

In [6]:
features = df.loc[:, 'bus_0.0':'pop_2.5']
X = features.values
y = df['class'].values

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y.reshape(-1,), test_size=0.4, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=42)

#모델 적합
log_reg = LogisticRegression(random_state=42)
log_reg.fit(X_train, y_train)
y_pred_val = log_reg.predict(X_val)

#모델 성능 평가
y_pred_proba = log_reg.predict_proba(X_val)  #predict_proba : 예측확률
y_pred = np.argmax(y_pred_proba, axis=1)
accuracy_score(y_val, y_pred)

0.9400318979266348

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)